/* CSS Document */


html, body {
  margin: 0;
  padding: 0;
}

.first-content {
  background-color: #000;
  display: table;
  width: 100%;
  height: 100%;
}
.first-text {
  list-style: none;
  position: absolute
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-align: center;
    transform: translateX(0%) translateY(-1000%);
}

.first-text li {
  display: inline-block;
  font-family:'Caladea', sans-serif;
  font-weight: 300;
  font-size: 4em;
  color: #fff;
  opacity: 1;
  transition: all 2.5s ease;
  margin-right: auto : 25px;
  margin-left: auto;
}

.first-text.hidden li {
  opacity: 0;
}

.first-text.hidden li:nth-child(1) { transform: translateX(-200px) translateY(-200px);}
.first-text.hidden li:nth-child(2) { transform: translateX(20px) translateY(100px);}
.first-text.hidden li:nth-child(3) { transform: translateX(-150px) translateY(-80px);}
.first-text.hidden li:nth-child(4) { transform: translateX(10px) translateY(-200px);}
.first-text.hidden li:nth-child(5) { transform: translateX(-300px) translateY(200px);}
.first-text.hidden li:nth-child(6) { transform: translateX(20px) translateY(-20px);}
.first-text.hidden li:nth-child(7) { transform: translateX(30px) translateY(200px);}


/*----------------PARALLAX IMAGE-----------------*/
.parallax {
	min-height: 450px;
	background: transparent;
	padding-top: 35px;
}
{
    margin: 0;
    padding: 0;
    }
body {
	color: #f2f2f2; /*(default font color for the entire page)*/
	font-family: 'Caladea sans', sans-serif;
	font-weight: 300; /*(font thickness)*/
    }
/*----------------navigation section-----------------*/
header {
	height: 105px; /*(height of nav bar)*/
	position: fixed; /*(keeps nav bar visible when scrolling)*/
	width: 100%;
	top: 0;
	z-index: 5; /*(ensures nav bar appears in front of other elements)*/
	font-size: 1em;
    transition: top 0.2s ease-in-out;
    background-color: #f2f2f2;
    opacity: .75 ;
}

/*----------------navigation container-----------------*/
.nav-container {
  margin: 0 auto;
}

/*----------------text-based logo-----------------*/
.brand {
    padding: 15px 0 15px 45px;
    float: left;
    
}



/*----------------mobile navigation--------------------*/
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  height: 70px;
  width: 70px;
}

/*----------------navigation buttons-----------------*/
nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
    display: block;
    padding: 0 20px;
    line-height: 105px;
    background-color: #f2f2f2;
    color: #f2798f;
    text-decoration: none;
	font-weight: bold;
}
nav ul li a:hover,
nav ul li a:visited:hover {
    background-color: black;
    color: white;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 5;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}	

a.text:link, a.text:visited {
    background-color: #68ACF0;
    color: white;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
}
a.text:hover, a.text:active {
    background-color: white;
    color: black;
}
.row a{
	color: #595859;
    font-family: 'Caladea sans', sans-serif;
    text-transform: uppercase;
    padding: .5rem 1rem;
    padding-right: 2rem;
    border-radius: 30px;
    margin: 40px auto;
    text-align: center;
    position: relative;
    display: block;
    width: 175px;
    letter-spacing: .3px;
    font-size: 16px;
    font-weight: 600;
    line-height: initial;
    background: url(img/arrow.png) #a6a6a6;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 96%;
	text-decoration: none;
    box-shadow: 7px 7px
}
.row a:hover{
	    background-color: #f2798f;
    color: initial;
	    text-decoration: none;
    transition: all 0.3s ease-in 0s;
}

/*----------------media queries-----------------*/

/*If device width is less than or equal to 800px, then do ...*/
@media only screen and (max-width: 800px) {

    h2 {
        font-size: 35px !important;
    }
  .nav-mobile {
    display: block;
      background-color: white;
      opacity: 0.75;
  }
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
    background-color: white;
    opacity: 0.75;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  } 
    
  .brand {
	position: absolute;
	padding-left: 80px;
	float: left;
	color: #000000;
	font-family: sans-serif;
	font-size: small;
  }
	
	.image2 {
	cursor:pointer;
	width: 90%;
	height: 90%;
}
	
}
@media screen and (min-width: 800px) {  
    
/*-----styles for jquery dropdown menu-----*/
  .nav-list {
    display: block !important;
  }
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #000000;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

/*----------------Main Image-----------------*/

.image1 {
	width: 100%;
}

.container {
	position: relative;
    background-image: url(img/22.jpg);
    height: 130vh;
    background-size: cover;
    background-position: 50% 50%;
}

/*----------------Main Content Area(this is where all the content below the navigation bar will go)--*/
.row {
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0; /*(centers content within the row)*/
	position: relative;
	padding: 65px 45px;
    text-align: center;
}

article {
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	line-height: 20px;
}

h1 {
	line-height: 1.5;
	text-transform: uppercase;
	font-size: 16px;
    color: #f2f2f2;
}

h2 {
	font-family: 'Caladea', sans-serif;
    text-align: center;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 900;
    color: #262626;
    background: -webkit-linear-gradient(left,#ff005e,#ff01c9,#a700ff);
    -webkit-background-clip: text;
    margin: 0;
    line-height: initial;
}

p {
	line-height: 1.5;
}

/*----------------SLIDESHOW-----------------*/

#slider {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  z-index: 1;
  position: relative;        
}

/* prev / next links */
.cycle-prev, .cycle-next { 
  position: absolute;
  top: 0;
  width: 30%;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: 800;
  height: 100%;
  cursor: pointer; 
  }
  
.cycle-prev { 
  left: 0;
  background: url(img/arrow-left.png) 50% 50% no-repeat;
  }
  
.cycle-next { 
right: 0;
background: url(img/arrow-right.png) 50% 50% no-repeat;
}

.cycle-prev:hover, .cycle-next:hover { 
opacity: 1;
filter: alpha(opacity=70)
}


/* captions below slideshow*/
#alt-caption {
    background-color: #262626;
    color: #f2f2f2;
    font-family: 'Caladea', serif;
    font-size: .9em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*----------------VIDEO-----------------*/
video {
    position: relative;
    width: 100%;    
}

/*----------------FOOTER-----------------*/
footer {
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 25px;
	text-align: center;
	font-size: 10px;
}
/*(footer links)*/
footer a {
	text-decoration: none; /*(nullifies underline)*/
	color: #000000;
	font-family: 'Caladea', sans-serif;
}
/*(link color when moused over)*/
footer a:hover {
	color: #f2798f;
}

/*----------------AUDIO BOARD-----------------*/

.table {
	position: relative;
	text-align: center;
	color: greenyellow;
	font-size: 0vw;
    
}

.trip {text-align:center;}

.trip img{
  display:inline-block;
  width:30%;
  margin:0 1% 0 1%;
  }

.rollover {
	cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
}

/*--------------background colors----------*/
.whiteBG {
	background-color: #f2798f;
}

.blueBG {
	background: #595859;
}

.orangeBG {
	background: #f9f9f9;
}

/*----------------back to top button-----------------*/
#myBtn {
  
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #f2798f; /* Set a background color */
  color: #595859; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-family: 'Caladea', sans-serif;
  font-size: 10px; /* Increase font size */
}

#myBtn:hover {
  background-color: #a6a6a6;
  opacity: 0.75;   
}

/*----menu dissapear when scroll---*/
.nav-up {
  top: -105px; 
}